h2 {
  color: #78d461;
  margin: 0 0 0 1%;
  text-decoration: underline; }

h3 {
  color: #78d461;
  margin: 0 0 0 1%; }

body {
  font-family: courier;
  background: #001400;
  margin: 0;
  padding: 0; }

.enter {
  display: none;
  min-height: 900px;
  width: 100%;
  background: linear-gradient(rgba(0, 158, 0, 0.3), rgba(0, 158, 0, 0.3)), url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; }
  .enter button {
    font-family: courier;
    font-size: 1em;
    color: #001400;
    background: #23c225;
    width: 300px;
    height: 30px;
    text-align: center;
    margin: 45% 0 0 25%; }

.main {
  display: none;
  width: 100%; }

section {
  width: 100%;
  margin-left: 4%; }

.top {
  width: 75%;
  margin: 3% 0 0 12%;
  height: 150px;
  color: #23c225; }

article {
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 30%;
  display: inline-block;
  color: #23c225;
  height: 500px;
  background: #001400;
  border: 3px solid #23c225; }

.logbook {
  overflow: scroll;
  font-size: 20px; }
  .logbook p {
    margin-left: 5px; }
  .logbook h2 {
    color: #78d461;
    margin: 0 0 0 1%;
    text-decoration: underline;
    font-size: 2em; }

.middle {
  background: url('images/FoxMulder.png');
  background-size: 100%; }

.status ul {
  list-style-type: none; }

.inventory {
  width: 97%;
  height: 50%;
  margin: 23% 0 0 1%;
  border: 2px dotted #148228;
  overflow: scroll;
  position: relative; }

.fa {
  color: #148228;
  margin: 2% 0 0 5%;
  display: none; }

.bottom {
  height: 150px; }

.follow {
  display: none;
  width: 200px; }

.investigate {
  display: none;
  width: 200px; }

.show {
  display: inline-block; }
