$bright: #23c225;
$dark: #148228;
$pale: #78d461;
$white: #fefcff;
$black: #001400;

h2 {
  color: $pale;
  margin: 0 0 0 1%;
  text-decoration: underline;
}

h3 {
  color: $pale;
  margin: 0 0 0 1%;
}

body {
  font-family: courier;
  background: $black;
  margin: 0;
  padding: 0;
}

.enter {
  display: none;
  min-height: 900px;
  width: 100%;
  background: linear-gradient(rgba(0, 158, 0, 0.3),  rgba(0, 158, 0, 0.3)), url('images/background.jpg');;
  background-repeat: no-repeat;
  background-size: cover;
  button{
    font-family: courier;
    font-size: 1em;
    color: $black;
    background: $bright;
    width:300px;
    height: 30px;
    text-align: center;
    margin: 45% 0 0 25%;

  }
}

.main {
  display: none;
  width: 100%;
}


section {
  width: 100%;
  margin-left: 4%;
}

.top {
  width: 75%;
  margin: 3% 0 0 12%;
  height: 150px;
  color: $bright;
}
article {
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 30%;
  display: inline-block;
  color: $bright;
  height: 500px;
  background: $black;
  border: 3px solid $bright;
}

.logbook{
  overflow: scroll;
  font-size: 20px;
  p{
    margin-left: 5px;
  }
  h2 {
    color: $pale;
    margin: 0 0 0 1%;
    text-decoration: underline;
    font-size: 2em;

  }
}

.middle{
  background: url('images/FoxMulder.png');
  background-size: 100%;
}
.status {
  ul{
    list-style-type: none;
  }
}
.inventory {
  width: 97%;
  height: 50%;
  margin: 23% 0 0 1%;
  border: 2px dotted $dark;
  overflow: scroll;
  position: relative;
}

.fa {
  color: $dark;
  margin: 2% 0 0 5%;
  display: none;
}
.bottom {
  form{
    width: 50%;
    margin: 10px 0 0 0;
    input{
      width: 400px;
    }
  }
  button{
    width: 200px;
    display: inline-block;
    margin: 10px 0 0 0;
  }
}

.show {
  display: inline-block;
}
